nav { 
	position:relative; 
    float: right;
	margin-top: 38px;
	transition: all .4s ease;
}

.sf-menu ul {position:absolute; top:-999px; display:none; transition:all .4s ease;}
.sf-menu li { 
	/*position:relative;*/
}
.sf-menu > li {float: left; }
	.sf-menu a {
		text-decoration: none;
		color: #fff;
	}
		.sf-menu a:hover {text-decoration: none;}

/*================================>> 1 Level <<========================================*/

.sf-menu > li > a {
	display: inline-block;
    position: relative;
	vertical-align: middle;
	line-height: 45px;
	font-size: 20px;
}


.sf-menu > li {
	display: block;
	position: relative;
	margin-left: 25px;
}

	.sf-menu > li > a:hover, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a {
		color: #dbb686;
	}

	.sf-menu > li > a.sf-with-ul:after {
		position: absolute;
		bottom: -1px;
		display: inline-block;
		content: "\f107";
		right: 50%;
		margin-right: -7px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-moz-osx-font-smoothing: grayscale;
		text-decoration: none !important;
		height: 19px;
		overflow: hidden;
		width: 12px;
	}


/*================================>> 2 Level <<========================================*/

.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	left: -34px;
	top: 86px;
	width: 253px;
	z-index:99;
	text-align: left;
	background: #191a1f;
	padding-left: 0px;
	padding-right: 0px;
}

.sf-menu > li > ul li { 
	display: block;
}
.sf-menu > li > ul > li + li a {
	border-top: 1px solid #2c2d31;
}
.sf-menu > li > ul > li a {
	display: inline-block;
	line-height: 38px;
	font-size: 13px;
	display: block;
	position: relative;
	padding-left: 16px;
	padding-left: 16px;
}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a,
.sf-menu li li:hover span,
.sf-menu li.sfHover li.sfHover span { 
	text-decoration: none;
	color: #bb5539;
}
	.sf-menu > li > ul > li > a.sf-with-ul:after {
		position: absolute;
		top: 13px;
		display: inline-block;
		content: "\f107";
		right: 13px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-left: 10px;
}
/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 0;
	top: 0px;
	z-index:99;
	text-align: left;
	position: relative;
}
.sf-menu li li li a { padding-left: 40px; border-top: 1px solid #2c2d31;}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li { margin-left: 0;}
	.sf-menu > li > a { padding: 0 10px;}
}

@media only screen and (max-width: 767px) {
	.sf-menu { display:none; }


	nav select {
		height: 32px;
		border: 1px solid #bb5539;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		background: #bb5539;
		width:100%;
	    outline: none;
		font-weight: normal;
		margin-bottom: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: bold;
		padding-left: 10px;
		padding-right: 10px;
	}
	nav select option:first-child {
		color:#ffffff;
	}
	header nav, h1 {float: none;}
}

@media only screen and (max-width: 479px) {

}